<section class="user">
  <header class="user__header">
    <img class="user__img" [src]="userData?.avatar_url" alt="" />
    <div class="user__stats">
      <div class="user__stats-item">
        <span class="user__stats-span user__stats-span--gray">Followers</span>
        <span class="user__stats-span">27839</span>
      </div>
      <div class="user__stats-item">
        <span class="user__stats-span user__stats-span--gray">Following</span>
        <span class="user__stats-span">0</span>
      </div>
      <div class="user__stats-item">
        <span class="user__stats-span user__stats-span--gray">Location</span>
        <span class="user__stats-span" class="user__stats-span"
          >San Francisco, CA</span
        >
      </div>
    </div>
  </header>
</section>
